.container{
    display: flex;
    flex-direction: column;
  
   
    width: 600px;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 50px;
    background : #fff;
    padding-bottom: 50px;
    padding-top: 15px;
    position:relative;
    border-radius: 20px;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap : 9px;
    width:100%;
    margin-top:30px;

}

.text{
    color:#3c009d;
    font-size:48px;
    font-weight: 700;


    
}

.underline{
    width: 61px;
    height:6px;
    background: #3c009d;
    border-radius:9px;
}

.inputs{
    margin-top:55px;
    display:flex;
    flex-direction: column;
    gap:25px;

}

.input{
    display:flex;
    align-items: center;
    margin-top: auto;
    width : 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;

}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border:none;
    outline : none;
    color: #797979;
    font-size: 19px;

}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;

}

.forgot-password span{
    color: #4c00b4;
    cursor:pointer;

}

.submit-container{
    display:flex;
    gap:30px;
    margin: 60px auto;

}

.submit{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    margin-left : 150px;
    font-size: 19px;
    font-weight: 700;
    cursor:pointer;

}

.gray{
    background: #EAEAEA;
    color: #676767;
}

footer {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #3498db;
    opacity: 0.8;
    height: 50px;
    
  
    position: fixed;
    bottom: -50px;
    left: 0; /* Set left to 0 to cover the entire width */
    width: 100%;
    transition: bottom 0.4s ease;
    z-index: 100;
    
    font-family: 'Lobster', sans-serif;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1), inset 0px -1px 2px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to top, #2980b9, #3498db);
}

body:not(.scrolling) footer {
    bottom: 0;
  }
 
  
  
  
  
  body:not(.scrolling) .container footer {
    bottom: 0;
  }
  
  
  .container footer {
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-weight:bold;
  }
  
  .container footer span {
    color: #4c00b4;
    cursor: pointer;
  }
  